# Logs
*.log

# Java archives
*.jar
*.war
*.ear

# Maven wrapper
.mvn/
mvnw
mvnw.cmd

# Temp files
*.tmp
*.swp

# IntelliJ
.idea/
*.iml
out/
target/

# Compiled classes
*.class

# macOS
.DS_Store
**/.DS_Store

# SSH keys
testAi
testAi.pub
